body
{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14.5px;
}
.background
{
    background-color: rgb(200, 200, 200);
}
a
{
    text-decoration: none;
}
.navBar
{
    position: relative;
    background-color: rgb(0, 0, 0);
    width: 100%;
}
.navBar img:hover
{
    background-color: rgb(70, 70, 70);
    width: 8%;
}
.navBarIcon
{
    background-color: rgb(34, 34, 34);
    margin: 0.5% 0.1%;
    padding: 0px 0.1%;
    border: 3px solid rgb(11, 11, 177);
    border-radius: 5px;
    width: 8%;
    left: 0.25%;
    top: 0.25%;
}
#navBarIconHome
{
    border-color: white;
}
#navBarIconGames
{
    border-color: rgb(177, 11, 11);
}
#navBarIconExtraLessen
{
    border-color: rgb(251, 251, 72);
}
#navBarIconCodeboek
{
    border-color: rgb(11, 177, 11);
}
.navBarItem
{
    background-color: rgb(34, 34, 34);
    margin: 0.5% 0.1%;
    padding: 0px 0.1%;
    border: 3px solid rgb(11, 11, 177);
    border-radius: 5px;
    width: 8%;
    right: 0.25%;
    top: 0.25%;
    text-align: center;
    float: right;
}
/*.group
{
    display: flex;
    column-gap: 0.25%;
    margin: 0.1% 0.5%;
}
.block
{
    background-color: rgb(0, 0, 40);
    color: white;
    text-align: center;
    margin: 0.1%;
    padding: 0.1%;
    border: 3px solid rgb(225, 225, 225);
    border-radius: 5px;
}*/
.lessonList
{
    background-color: rgb(132, 132, 215);
    color: white;
    width: 100%;
    padding: 0.5% 0px;
    margin: 0.5% 0px;
}
.lessonListItem
{
    background-color: black;
    color: white;
    width: 90%;
    min-height: 15%;
    padding: 1%;
    margin: 0.5% 0px;
    border: 5px solid rgb(11, 11, 177);
    border-left: 0px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.lessonListItemExtra
{
    background-color: black;
    color: white;
    width: 90%;
    min-height: 15%;
    padding: 1%;
    margin: 0.5% 0px 0.5% 10%;
    border: 5px solid rgb(251, 251, 72);
    border-right: 0px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.lessonListItemTask
{
    background-color: black;
    color: white;
    width: 90%;
    min-height: 15%;
    padding: 1%;
    margin: 0.5% 0px 0.5% 4.5%;
    border: 5px solid rgb(177, 11, 11);
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.lessonListItemTextHeader
{
    color: white;
    font-size: 20px;
}
.lessonListItemText
{
    color: white;
    width: 50%;
    min-height: 15%;
    margin: 0.5% 0px;
}
.lessonListItemImage
{
    width: 50%;
    min-height: 15%;
    margin: 0.5% 0px 0.5% 0.5%;
    text-align: center;
}
.lessonChoice
{
    background-color: rgb(132, 132, 215);
    color: white;
    width: 100%;
    padding: 0.5% 0px;
    margin: 0.5% 0px;
}
.lessonChoice div:hover
{
    background-color: rgb(70, 70, 70);
}
.lessonChoiceLink
{
    width: 90%;
    display: block;
}
.lessonChoiceLinkExtra
{
    width: 90%;
    display: block;
    margin: 0px 0px 0px 10%;
}
.lessonChoiceItem
{
    background-color: black;
    color: white;
    width: 100%;
    min-height: 15%;
    padding: 1%;
    margin: 0.5% 0px;
    border: 5px solid rgb(11, 11, 177);
    border-left: 0px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.lessonChoiceItemExtra
{
    background-color: black;
    color: white;
    width: 100%;
    min-height: 15%;
    padding: 1%;
    margin: 0.5% 0px;
    border: 5px solid rgb(251, 251, 72);
    border-right: 0px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.lessonChoiceItemTextHeader
{
    color: white;
    font-size: 20px;
}
.lessonChoiceItemText
{
    color: white;
    width: 50%;
    min-height: 15%;
    margin: 0.5% 0px;
}
.lessonChoiceItemImage
{
    width: 50%;
    min-height: 15%;
    margin: 0.5% 0px 0.5% 0.5%;
    text-align: center;
}
.lessonCode
{
    background-color: rgb(34, 34, 34);
}
.codebookLink
{
    width: 90%;
    display: block;
}
.codebookListItem
{
    background-color: black;
    color: white;
    width: 100%;
    min-height: 15%;
    padding: 1%;
    margin: 0.5% 0px 0.5% 5%;
    border: 5px solid rgb(11, 177, 11);
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.codebookListItemText
{
    color: white;
    width: 30%;
    margin: 0.5% 0px;
}
.codebookListItemDesc
{
    color: white;
    width: 70%;
    margin: 0.5% 0px;
}
.codebookMenu
{
    width: 90%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    margin: 0.5% 0px;
    font-size: 32px;
    position: sticky;
    top: 0%;
    left: 4.5%;
}
.codebookMenuEx
{
    width: 90%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    margin: 0.5% 0px 0.5% 4.5%;
    font-size: 32px;
}
.codebookMenu a:hover
{
    background-color: rgb(70, 70, 70);
}
.codebookMenuEx a:hover
{
    background-color: rgb(70, 70, 70);
}
.codebookMenuItem
{
    background-color: black;
    color: white;
    width: 100%;
    border: 5px solid rgb(11, 177, 11);
    box-sizing: border-box;
    text-align: center;
}
.codebookMenuItemEx
{
    background-color: black;
    color: white;
    width: 100%;
    border: 5px solid rgb(11, 177, 11);
    box-sizing: border-box;
    text-align: center;
}
.cbExample
{
    background-color: black;
    color: white;
    width: 90%;
    margin: 0.5% 0px 0.5% 4.5%;
    border: 5px solid rgb(11, 177, 11);
    box-sizing: border-box;
}
.cbExampleBlock
{
    display: flex;
}
.cbExampleBlockCodeL
{
    width: 50%;
    border: 5px solid rgb(11, 177, 11);
    border-left: 0px solid rgb(11, 177, 11);
    border-right: 2.5px solid rgb(11, 177, 11);
    border-bottom: 0px solid rgb(11, 177, 11);
    font-size: 12px;
}
.cbExampleBlockCodeR
{
    width: 50%;
    border: 5px solid rgb(11, 177, 11);
    border-left: 2.5px solid rgb(11, 177, 11);
    border-right: 0px solid rgb(11, 177, 11);
    border-bottom: 0px solid rgb(11, 177, 11);
    font-size: 12px;
}
.cbExampleBlockRes
{
    width: 50%;
    border: 5px solid rgb(11, 177, 11);
    border-left: 2.5px solid rgb(11, 177, 11);
    border-right: 0px solid rgb(11, 177, 11);
    border-bottom: 0px solid rgb(11, 177, 11);
    background-color: white;
    color: black;
    font-family: initial;
}
.quiz
{
    width: 80%;
    text-align: center;
}
.quizButton
{
    background-color: rgb(34, 34, 34);
    color: white;
    font-size: 20px;
    margin: 0.5% 0.1%;
    padding: 0px 0%;
    border: 3px solid rgb(11, 11, 177);
    border-radius: 5px;
    width: 40%;
    left: 0.25%;
    top: 0.25%;
}
.quizForm
{
    width: 40%;
}
.quizScore
{
    width: 20%;
}
.quizScoreItem
{
    background-color: black;
    color: white;
    width: 90%;
    padding: 0%;
    margin: 0.5% 0px 0.5% 10%;
    border: 5px solid rgb(11, 11, 177);
    border-right: 0px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.quizScoreItemText
{
    margin: 1%;
    font-size: 75%;
}
.gameContent
{
    background-color: rgb(132, 132, 215);
    color: black;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    font-size: 32px;
    justify-content: center;
    padding: 0%;
}
.gameContent button:hover
{
    background-color: rgb(70, 70, 70);
}
.characterSelectionButton
{
    background-color: rgb(34, 34, 34);
    margin: 0.5% 0%;
    padding: 0px 0%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 0.5px solid black;
    border-right: 0.5px solid black;
    box-sizing: border-box;
    width: 8.5%;
    height: 8.5%;
}
.characterSelectedButton
{
    background-color: rgb(34, 34, 34);
    margin: 0.5% 0%;
    padding: 0px 0%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 0.5px solid black;
    border-right: 0.5px solid black;
    box-sizing: border-box;
    width: 30%;
}
.gameBackground
{
    background-color: rgb(102, 102, 200);
    width: 80%;
    min-height: 45%;
    display: flex;
}
.gameBackgroundLeft
{
    width: 50%;
    display: flex;
}
.gameBackgroundRight
{
    text-align: right;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.gameBackgroundLeftPlayer0
{
    width: 45%;
}
.gameBackgroundLeftPlayer1
{
    width: 45%;
}
.gameBackgroundRightPlayer0
{
    width: 45%;
    text-align: right;
}
.gameBackgroundRightPlayer1
{
    width: 45%;
    text-align: right;
}
.gameButtonStart
{
    background-color: rgb(34, 34, 34);
    color: white;
    font-size: 32px;
    margin: 0.5% 0.1%;
    padding: 0px 0%;
    border: 3px solid rgb(11, 11, 177);
    border-radius: 5px;
    width: 80%;
    left: 0.25%;
    top: 0.25%;
}
.gameButtonLeft
{
    background-color: black;
    width: 100%;
    border: 0px solid black;
    border-right: 8px solid rgb(11, 11, 177);
    text-align: left;
    color: white;
    font-size: 20px;
    padding: 1%;
    margin: 0%;
    box-sizing: border-box;
}
.gameButtonRight
{
    background-color: black;
    width: 100%;
    border: 0px solid black;
    border-left: 8px solid rgb(177, 11, 11);
    text-align: right;
    color: white;
    font-size: 20px;
    padding: 1%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
    margin-left: auto;
    box-sizing: border-box;
}
.attackDataLeft
{
    position: absolute;
    top: 0%;
    width: 100%;
    display: none;
}
.gameHPBar
{
    width: 100%;
    border-radius: 0;
}
.gameHPBarRight
{
    width: 100%;
    border-radius: 0;
}
.gameHPBarText
{
    position: absolute;
    color: black;
    top: 0%;
    margin: 0%;
    font-size: 100%;
    font-weight: 900;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}
meter::-webkit-meter-bar 
{
    background: none;
    background-color: rgb(180, 180, 255);
    box-shadow: 0;
    height: 200%;
}
meter::-webkit-meter-optimum-value
{
    background: none;
    background-color: rgb(11, 11, 177);
    box-shadow: 0;
}
meter.gameHPBarRight::-webkit-meter-optimum-value
{
    background: none;
    background-color: rgb(177, 11, 11);
    box-shadow: 0;
}
.gameButtonPortraitLeft
{
    background: rgb(102, 102, 200) center/cover url("../img/SelectLeft.png") no-repeat;
    border: none;
    box-sizing: border-box;
    padding: 0%;
    padding-block: 0%;
    padding-inline: 0%;
}
.gameButtonPortraitLeft:disabled
{
    background: none;
}
.gameComments
{
    background-color: black;
    width: 80%;
    border-left: 8px solid rgb(11, 11, 177);
    border-right: 8px solid rgb(177, 11, 11);
    box-sizing: border-box;
}
.gameCommentsNew
{
    color: white;
    font-size: 32px;
    padding: 0.25% 3%;
    margin: 0%;
}
.gameCommentsOld
{
    color: white;
    font-size: 20px;
    padding: 0.25% 2%;
    margin: 0%;
}
.footer
{
    background-color: rgb(10, 4, 39);
    width: 100%;
}
.footerNavBar
{
    background-color: black;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    font-size: 32px;
    justify-content: center;
    padding: 0% 2%;
    text-align: center;
}
.footerNavBar a:hover
{
    background-color: rgb(70, 70, 70);
}
.footerButton
{
    border: 3px solid rgb(11, 11, 177);
    color: white;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.footerButtonImage
{
    width: 40%;
    text-align: right;
    margin: 0%;
}
.footerButtonText
{
    width: 60%;
    text-align: left;
}
#exampleP
{
    color: rgb(11, 11, 177);
}
.tekstClass
{
    background-color: rgb(255, 146, 146);
    color: rgb(11, 11, 177);
}
#tekstID
{
    font-size: 32px;
}
.boxModel
{
    width: 50%;
    background-color: blue;
    border: 3px solid red;
    border-radius: 5px;
    padding: 0.5% 5% 2% 1%;
    margin: 2%;
}